:host {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #0c0f17;
  color: #fff;
}

/* Optional: override bootstrap nav link colors */
.nav-link {
  color: #fff !important;
  margin-bottom: 8px;
}

.nav-link:hover {
  background-color: #1c1f27;
}

.mt-auto {
  margin-top: auto !important; /* pushes logout button to bottom if space is available */
}

.logo {
  width: 200px; /* Increase this value as needed */
  height: auto; /* Maintain aspect ratio */
}

/* Add extra top padding or margin to push the logout button further down */
.logout-container {
  padding-top: 200px; /* Adjust this value to increase space */
}

.nav-icon {
  width: 15px;       /* Change to desired width */
  height: 15px;      /* Change to desired height */
  margin-right: 2px; /* Spacing between icon and text */
  vertical-align: middle;
}
