<aside class="sidebar d-flex flex-column p-3">
  <!-- Logo -->
  <div class="mb-4">
    <img src="assets/images/logo.png" alt="Logo" class="logo"/>
  </div>

  <hr class="sidebar-divider" />

  <!-- Navigation Links -->
  <nav class="nav flex-column">
    <a class="nav-link text-white" routerLink="/dashboard">
      <img src="assets/icons/dashboard.png" alt="Dashboard Icon" class="nav-icon" />
      Dashboard
    </a>
    <a class="nav-link text-white" routerLink="/patient-management">
      <img src="assets/icons/patient.png" alt="User Icon" class="nav-icon" />
      Patient Management
    </a>
    <a class="nav-link text-white" routerLink="/patient-record">
      <img src="assets/icons/patient.png" alt="User Icon" class="nav-icon" />
      Patient Records
    </a>
    <a class="nav-link text-white" routerLink="/settings">
      <img src="assets/icons/user.png" alt="Settings Icon" class="nav-icon" />
      User
    </a>
    <!--<a class="nav-link text-white" routerLink="/settings">Settings</a> -->
  </nav>

  <hr class="sidebar-divider" />

  <!-- Logout pinned to bottom if there's enough vertical space -->
  <div class="logout-container mt-auto">
    <button class="btn btn-link text-white" (click)="logout()">
      Logout
    </button>
  </div>
</aside>
